@page "/Account/Logout"
@using Microsoft.AspNetCore.Identity
@using ServerSide.Data
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject SignInManager<ApplicationUser> SignInManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IJSRuntime JS

<h3>Logging you out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // First perform the sign out
        await SignInManager.SignOutAsync();

        // Force refresh of authentication state
        await AuthStateProvider.GetAuthenticationStateAsync();

        await JS.InvokeVoidAsync("localStorage.removeItem", "cprValidated");
    }

    

}